.prestataireContainer {
    padding: 20px;
    background-color: #f9f9f9; /* Fond légèrement gris pour distinguer la zone */
}

.prestataireContainer h1, .prestataireContainer h2 {
    text-align: center; /* Centre les titres pour une apparence plus soignée */
    color: #272a35; /* Couleur foncée pour le texte */
}

.prestataireContainer button {
    cursor: pointer;
    display: block; /* Changez en block pour occuper la largeur nécessaire */
    width: auto; /* Auto pour s'adapter au texte */
    padding: 10px 20px; /* Plus d'espace autour du texte */
    margin: 10px auto; /* Centrage du bouton */
    background-color: #007bff; /* Couleur bleu pour les actions principales */
    color: white; /* Texte en blanc pour contraste */
    border: none;
    border-radius: 5px; /* Bordures moins arrondies pour un look moderne */
    transition: background-color 0.3s; /* Transition douce pour le survol */
}

.prestataireContainer button:hover {
    background-color: #0056b3; /* Assombrir au survol */
}

table {
    width: 100%; /* Utilisez toute la largeur disponible */
    margin-top: 20px; /* Espace avant le tableau */
    border-collapse: collapse; /* Supprime les espaces entre les bordures */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Légère ombre pour du relief */
}

th, td {
    text-align: left; /* Alignement du texte */
    padding: 12px; /* Plus d'espace dans les cellules */
    border-bottom: 1px solid #ddd; /* Ligne de séparation subtile */
}

th {
    background-color: #007bff; /* Couleur d'en-tête cohérente avec les boutons */
    color: white; /* Texte en-tête en blanc */
}

td img {
    width: 50px;
    height: 50px;
    border-radius: 50%; /* Images rondes pour les avatars */
    object-fit: cover;
}

tr:hover {
    background-color: #f2f2f2; /* Légère couleur au survol des lignes */
}
