


.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #81daea, #3d8ed9); 
    color: #FFFFFF;
    font-weight: bold;
    height: 4rem;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    padding: 0 20px; 
}

.navbar a {
    margin: 0 15px; 
    padding: 10px 15px; 
    border-radius: 5px; 
    transition: background-color 0.3s ease, color 0.3s ease; 
}

.navbar a:hover {
    background-color: #FFFFFF;
    color: #007991;
    transform: translateY(-2px);
}
