



.adminContainer {
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
    background: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.adminContainer h1 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.adminContainer button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    background: #4A90E2;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.adminContainer button:hover {
    background: #357ABD;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 15px;
    margin-top: 20px;
}

th, td {
    text-align: center;
    padding: 15px;
    background-color: #ffffff;
    color: #333;
}

th {
    background-color: #eaeaea;
}

td {
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.bar-chart-container {
    margin-top: 20px;
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
