/* body{
    display:block;
    width: 100%;
    background-color: #FFFFFF;
    --background-end-rgb:none;
    color: black;
}
h1{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}
button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
    background: #272a35;
    border-radius: 20px;
}
button:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
    background: #000000;
    color: #FFFFFF;
    transform: scale(1.1);
    transition: 0.4s;
    border-radius: 20px;
}
.prestaContainer{
    margin-left: 20px;
    margin-bottom: 20px;
}
.test{
    font-weight: bold;
    margin-right: 5px;
    margin-bottom: 15px;
}
h2{
    margin-left: 20px;
    margin-bottom: 20px;
}
.Container{
    width: 90%;
} */



.paymentContainer {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    margin: 20px 5%;
    display: flex;
    flex-direction: column;
}

.paymentContainer h2 {
    text-align: center;
    margin-bottom: 20px;
}

.paymentContainer p {
    line-height: 1.6;
    margin-bottom: 10px;
    font-size: 16px; /* Augmente légèrement la taille de police pour améliorer la lisibilité */
}

.paymentContainer img {
    margin: 20px auto; /* Centre l'image dans le conteneur */
    display: block;
    width: 100px; /* Taille de l'image */
    height: 100px; /* Taille de l'image */
    border-radius: 50%; /* Rend l'image circulaire */
    object-fit: cover;
}

.infoLabel {
    font-weight: bold;
}

.infoContent {
    display: inline-block;
    margin-left: 5px;
    color: #555; /* Couleur légèrement plus foncée pour le contenu */
}

button {
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    align-self: center; /* Centrer le bouton dans le conteneur */
    width: 200px; /* Définir une largeur fixe pour le bouton */
    margin-top: 20px; /* Espace au-dessus du bouton */
}

button:hover {
    background-color: #0056b3;
}

