h1{
    margin-top: 20px;
    margin-left: 5%;
}
h2{
    margin-bottom: 20px;
}
p{
    margin-bottom: 5px;
}
.paymentContainer{
    margin: 50px;
}
button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 40px;
    margin-left: 5%;
    margin-bottom: 10px;
    background: #272a35;
    border-radius: 20px;
}