/* etabRegister.module.css */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin: 20px auto;
    width: 90%;
    max-width: 600px;
}

.form-group {
    margin-bottom: 15px;
    width: 100%;
}

.labelClass {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.inputText,
.inputFile {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: white;
    color:black;
}


.buttonSubmit {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.buttonSubmit:hover {
    background-color: #0056b3;
}

.loading {
    text-align: center;
    margin-top: 20px;
}
