body{
    display: block;
    width: 100%;
    background-color: #FFFFFF;
    --background-end-rgb:none;
    color: black;
}
.profileContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #DCDCDC;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 25%;
    border: solid 2px;
    width: 50%;
    
}
label{
    margin-top: 10px;
}
input{
    display: block;
    border-radius: 10px;
    background-color: #FFFFFF;
    color: black;
    width: 100%;
    padding: 5px;
    margin-left: 10px;
}
button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #272a35;
    border-radius: 20px;
}
.form-group{
    display: flex;
    justify-self: center;
    align-items: center;
    border-radius: 10px;
    background-color: #FFFFFF;
    color: black;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}